<div class="modale" *ngIf="start" (click)="onClose()">
  <div class="modale-content">
    <h1>New exclusive IP preview!</h1>
    <img src="../../assets/poster/poster.jpg">
    <h2>The following advent calendar website is for promotional use only.</h2>
    <p>Ubisoft is proud to announce its next AAA title mixing two completely crazy worlds. South Park is now invaded by thousands of raving rabbids who are having a lot of fun.</p>
    <br>
    <p>This game will once again live the adventures of "the new kid" aka. "Douchebag" and his new best friends: "the new rabbid" and the "Unitard". This new character combination will enable the player to use all new powers.</p>
    <!--c'est ici qu'on met le contenu dela page d'accueil-->

  </div>
</div>

<app-vignettes></app-vignettes>

